<!DOCTYPE HTML>
<html lang="zh-CN">
    <head>
        <link rel="Stylesheet" type="text/css" href="http://lib.sinaapp.com/js/bootstrap/v3.0.0/css/bootstrap-theme.min.css">
        <link rel="Stylesheet" type="text/css" href="http://lib.sinaapp.com/js/bootstrap/v3.0.0/css/bootstrap.min.css">
        <title>%title% - Mick's Wiki</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body style="padding-top: 40px;">
        <nav class="navbar navbar-inverse navbar-default navbar-fixed-top" role="navigation">
            <p class="navbar-text pull-left"><a href="/index.html" class="navbar-link">首页</a></li></p>
            <p class="navbar-text pull-left"><a href="http://mickhan.com/" class="navbar-link">博客</a></p>
            <p class="navbar-text pull-left"><a href="/about.html" class="navbar-link">关于</a></p>
            <p class="navbar-text pull-right">一个人的核心竞争力是其个性、背景、知识和经验的组合</p>
        </nav>
        <div class="container">
            <div class="row">
            <div class="page-header">
                <h1>%title%<small></small></h1>
            </div>
            <div id="content">
                %content%
            </div>
        </div>
        </div>
    </body>
</html>
